DEVICE="MyDevice"
EMAIL_ADDRESS="myemail@email.com"
EMAIL_PASSWORD="mypassword"
EMAIL_PORT=587
EMAIL_HOST="smtp.gmail.com"
SLEEP_TIME_SEC=60
THRESHHOLD_TEMP=60
THRESHHOLD_DISK1_USAGE=80
THRESHHOLD_DISK2_USAGE=80